@keyframes flow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
blockquote {
    position: relative;
    font-weight: 700;
    padding: 15px 0;
    width: 100%;
    max-width: 500px;
    z-index: 1;
    margin: 50px auto;
    align-self: center;
    text-align: center;
    border-radius: 4px;
    transition: all 1s;
}
blockquote span {
    animation: flow 10s ease-in-out infinite;
    background: linear-gradient(-60deg, #e91e63, #904e95, #ee7752);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
blockquote:after {
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    content: "\f10d";
    color: rgb(233, 30, 99);
    font-size: 2rem;
    line-height: 0;
    top: -10px;
    left: 00px;
    transition: all 0.5s;
}
blockquote:before {
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    content: "\f10e";
    color: #e91e63;
    font-size: 2rem;
    line-height: 0;
    bottom: -10px;
    right: 0px;
    transition: all 0.5s;
}
.navbar-nav .nav-item .nav-link {
    font-size: 0.95rem;
    text-align: center;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    transition: all 0.5s;
}
.oval-header {
    background-image: url("../img/category/shape.png");
    opacity: 0.5;
}
.oval-footer {
    background-image: url("../img/footer/oval.png");
    opacity: 0.5;
    background-position: top !important ;
}
